html{
	background-color: #9999;
	background-image: url(img/wheat.png);
	background-size: 500px 350px;
}
body{
	background-color: white;
	background-image: url(img/regal.png);
	background-position: center;
	font-family: sans-serif;
	margin: auto;
	width: 800px;
	height: 1157px;
}
.header{
	background-color: pink;
	background-image: url(img/gedung-umt.png);
	background-size: 800px 400px ;
	background-position: center;
	margin: auto;
	width: 800px;
	height: 400px;
}
.menutama{
	background-color: blue;
	background-position: center;
	text-align: center;
	position: absolute;
	width: 800px;
	height: 50px;

}
ul li a:hover{
	color: red;
}
ul li {
	display: inline-block;
	padding: 10px;
	margin-top: -50px;
	margin-left: 20px;
	
}
li a {
	text-decoration: none;
	color: white;
	
}
h1{
	color: red;
	text-align: left;
	margin-top: 70px;
	padding:0px 30px;
}
h2{
	color: blue;
	text-align: center;


}

p{
	text-align: justify;
	padding: 0px 30px;
	margin-top: 20px;

}
.sidebar{
	background-color: salmon;
	width: 800px;
	height: 200px;


}
h3{
margin-left: 20px;
padding: 20px 0px 0px;
}

.footer{
	background-color: grey;
	background-position: center;
	text-align: center;
	margin-top: 50px;
	padding: 20px 0px 0px;
	width: 800px;
	height: 40px;

}
.img {
	margin-top: 100px;
	margin-left: 300px;
	width: 200px;
	height: 200px
}

form{
	margin-top: 30px;
	margin-left: 30px;
	
}
video {
 max-width: 50%;
 height: auto;
}
.video {
 position: relative;
 padding-bottom: 56.25%;
 margin-bottom: -120px;
 margin-top: -225px;
 left: 20px;
 height: 0;
 overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 50%;
 height: 50%;
}
.text{
  top:27%;
  margin-left: 460px;
  width:100%;
  padding-top:13.5%;  
  text-align:justify;
  font-weight:bold;

}
.box{
	background-color: transparent;
	margin-left: 410px;
	margin-top: 0px;
	width:1px;
	height: 225px;
	border: 10px red;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
}
.table{
	background-color:black;
	margin: 0px 50px;
	border-color: black;

}
.td{
	background-color: #ffff95;
	padding: 7px;
}

.judul{
	margin-left: 50px;
	margin-top: 50px;
	color: red;
}

.isi{
	font-weight: bold;
	margin-top: 20px;
	margin-left: 50px;
}

.sub{
	margin-left: 17px;
}
img{
	width: 800px;
	height: 300px;
}

#slider {
  top: 820px;
  position: absolute;
  width: 800px;
  height: 300px;
  overflow: hidden;
  
}

.slide {
  width: 800px;
  height: 300px;
  float: left;
  position: relative;
}

#slide-holder {
  width: 400%;
  position: absolute;
  left: 0;
  -webkit-animation: scroller 10s infinite;
          animation: scroller 10s infinite;
}

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  50% {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }
  70% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


#slider {
  margin: 0 auto;
}

.slide:nth-child(1) {
  background: #c69;
}

.slide:nth-child(2) {
  background: wheat;
}

.slide:nth-child(3) {
  background: #eee;
}
.footer2 {
	margin-top: 330px;
	padding: 20px 0px 0px ;
	background-color: gray;
	width: 800px;
	height: 40px;
	text-align: center;
}
.icon{
	margin-top: 100px;
	position: absolute;
	margin-left: 520px;
}